@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    color: white;
    background: black;
}    


header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
}

.logo-image {
    width: 300px;
    height: 50px;
    border-radius: 0%;
    overflow: hidden;
    margin-top: -6px;
    
}

.fb-page {
    left: 15%;
    line-height: 200px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 65%;
}



h1 {
    cursor: pointer;
}


/* The below h2 css code is to hide the text so its not on the screen, was needed to push the stream box lower. and then some. */

h2 {
    margin-left: -9999px;
}

nav {
    text-transform: capitalize;
}

nav a {
    color: inherit;
    text-decoration: inherit;
    padding: 0 25px;
    opacity: .5;
}

a:hover {
    opacity: 1;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100;
}